/* ----- Reset ----- */
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----- General ----- */

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

/* ----- Reusable components ----- */
/* Notification */
.notif {
    padding: 2px 5px;
    border-radius: 50%;
    background-color: #E5314F;
    position: absolute;
    top: 0px;
    right: 30%;
    font-size: 0.7em;
    color: white;
    font-weight: 600;
}

/* Bubbles in notification modal showing what kind of notificzation you received */
.notification-modal-bubble {
    position: absolute;
    top: 40px;
    left: 40px;
    padding: 6px;
    width: 28px;
    border-radius: 50%;
}

.notification-modal-bubble.green {
    background: linear-gradient(#68E487, #1CB642);
}

.notification-modal-bubble.blue {
    background: linear-gradient(#22AFFC, #0266E2);
}

/*Hover Effect*/
/*On light bg*/
.background-on-hover {
    transition: background-color 0.3s;
}

.background-on-hover:hover {
    background-color: #F2F2F2;
    transition: background-color 0s;
}

/*On darker bg*/
.background-on-hover-darker {
    transition: background-color 0.3s;
}

.background-on-hover-darker:hover {
    background-color: #E4E6E8;
    transition: background-color 0s;
}

/*Scrollbar*/
::-webkit-scrollbar {
    width: 10px;
    height: 100%;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    width: 4px;
    background-color: transparent;
    max-height: 40px;
    border-radius: 6px;
}
/*ligher thumb*/
.messenger-modal-item-wrapper:hover::-webkit-scrollbar-thumb, .notification-modal:hover::-webkit-scrollbar-thumb {
    width: 4px;
    background-color: #BCC0C4;
    max-height: 40px;
    border-radius: 6px;
}
/*darker thumb*/
.main-wrapper-left:hover::-webkit-scrollbar-thumb, .main-wrapper-right:hover::-webkit-scrollbar-thumb {
    width: 4px;
    background-color: #BCC0C4;
    max-height: 40px;
    border-radius: 6px;
}

/*Separator*/
.more-modal-separation, .separation {
    width: 100%;
    height: 1px;
    content: "";
    background-color: rgba(0,0,0,0.2);
    display: block;
}

/* ----- Navbar ----- */
.navbar-wrapper {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 6px 20px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    background-color: #fff;
}

.navbar-wrapper img {
    cursor: pointer;
}

.navbar-left, .navbar-right, .profile-wrapper {
    display: flex;
    align-items: center;
}

.navbar-left {
    min-width: 300px;
}

.fb-icon {
    margin-right: 10px;
    position: relative;
    z-index: 10;
}

.fb-icon.hidden {
    animation: iconOut 0.3s linear forwards;
    transition: background-color 0.3s;
    border-radius: 50%;
}

@keyframes iconOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translateX(-8px);
        content: url(images/arrow-left.svg);
    }
}

.fb-icon.hidden:hover {
    background-color: #F2F2F2;
    transition: background-color 0s;
}

.navbar-wrapper input {
    position: relative;
    z-index: 10;
    outline: none;
    background-color: #F0F2F5;
    border: none;
    padding: 12px 30px;
    border-radius: 24px;
    font-size: 0.9em;
    background-image: url(images/search.svg);
    background-repeat: no-repeat;
    background-position-x: 8px;
    background-position-y: 50%;
    background-size: 18px;
    transition: padding 0.3s;
    min-width: 230px;
}

.navbar-wrapper input:focus {
    background-image: none;
    padding: 12px 30px 12px 10px;
}


.navbar-middle {
    display: flex;
}

.navbar-icon {
    position: relative;
    padding: 4px 40px;
    transition: background-color 0.3s;
    cursor: pointer;
    border-radius: 8px;
}

.navbar-icon:not(.active):hover {
    background-color: #F2F2F2;
    transition: background-color 0s;
}

.navbar-icon img{
    width: 28px;
    opacity: 0.6;
}

.navbar-icon.active img {
    filter: invert(43%) sepia(58%) saturate(4368%) hue-rotate(200deg) brightness(94%) contrast(103%);
    opacity: 1;
}

.navbar-icon.active::after {
    position: absolute;
    top: 46px;
    left: 0;
    content: "";
    width: 100%;
    height: 3px;
    background-color: #1877F2;
}

.navbar-right {
    width: 310px;
}

.profile-pic {
    width: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.profile-wrapper {
    font-size: 0.9em;
    font-weight: 600;
    transition: background-color 0.3s;
    padding: 4px 10px 4px 2px;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.profile-wrapper:hover {
    background-color: #F2F2F2;
    transition: background-color 0s;
}

.profile-icon {
    background-color: #E4E6EB;
    border-radius: 50%;
    padding: 8px;
    margin: 0 5px;
}

.profile-icon:hover {
    background-color: #D8DADF;
}

#menu-btn.active {
    background-color: #E7F3FF;
    content: url(images/grid-dots-active.svg);
}

#messenger-btn.active {
    background-color: #E7F3FF;
    content: url(images/brand-messenger-active.svg);
}

#notification-btn.active {
    background-color: #E7F3FF;
    content: url(images/bell-ringing-2-active.svg);
}

#more-btn.active {
    background-color: #E7F3FF;
    content: url(images/caret-down-active.svg);
}

#menu-btn.active:hover, #messenger-btn.active:hover, #notification-btn.active:hover, #more-btn.active:hover {
    background-color: #DBE7F2;
}

/* Search bar modal */
.search-modal {
    position: absolute;
    top: 0;
    left: 0;
    padding: 72px 14px 14px 14px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 0 0 8px 8px;
    min-width: 320px;
    display: none;
}

.search-modal.active {
    display: block;
    animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        }
    to {
        opacity: 1;
    }
}

.search-modal-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-modal-title h3 {
    font-size: 1em;
    font-weight: 600;
}

.search-modal-title p {
    font-size: 0.9em;
    color: #1877F2;
    cursor: pointer;
    padding: 6px;
    border-radius: 6px;
}

.search-modal-result {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    border-radius: 6px;
    margin-bottom: 4px;
}

.search-modal-result .profile-pic {
    margin-right: 15px;
}

.search-modal-close {
    margin-left: auto;
    width: 26px;
    padding: 6px;
    border-radius: 50%;
}

.search-modal-close:hover {
    background-color: #D7D8D9;
}


/* Menu Modal */
.menu-modal {
    position: absolute;
    display: none;
    top: 50px;
    right: 16px;
    background-color: #F7F8FA;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    padding: 12px 16px;
    border-radius: 6px;
    max-height: 850px;
}

.menu-modal.active {
    display: block;
    animation: fadeIn 0.3s forwards;
}

.menu-modal h3 {
    margin-bottom: 16px;
}

.menu-modal-content {
    display: flex;
    align-items: flex-start;
}

.menu-modal-content-left {
    max-width: 300px;
    overflow-y: scroll;
    max-height: 780px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    padding: 14px;
}

/*Scrollbar*/
.menu-modal-content-left::-webkit-scrollbar {
    width: 10px;
    height: 100%;
}

.menu-modal-content-left::-webkit-scrollbar-track {
    background-color: transparent;
}

.menu-modal-content-left::-webkit-scrollbar-thumb {
    width: 4px;
    background-color: transparent;
    max-height: 40px;
    border-radius: 6px;
}

.menu-modal-content-left:hover::-webkit-scrollbar-thumb {
    width: 4px;
    background-color: #BCC0C4;
    max-height: 40px;
    border-radius: 6px;
}

.menu-modal-content-left h4 {
    margin-bottom: 12px;
    font-weight: 600;
}

.menu-modal-content-left h4:first-of-type {
    margin-top: 16px;
}

.menu-modal-content-left h4:not(:first-of-type) {
    padding-top: 16px;
    margin-top: 16px;
    border-top: 1px solid rgba(0,0,0,0.3);
}

.menu-modal-content-left-item {
    display: flex;
    align-items: flex-start;
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 4px;
}

.menu-modal-content-left-icon {
    width: 32px;
    margin-right: 12px;
}

.menu-modal-content-left-item-text h5 {
    font-size: 0.9em;
    color: rgba(0,0,0,0.9);
    font-weight: 600;
}

.menu-modal-content-left-item-text p {
    font-size: 0.8em;
    color: rgba(0,0,0,0.6);
}

.menu-modal-content-right {
    margin-left: 15px;
    max-width: 200px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    padding: 14px;
}

.menu-modal-content-right h4 {
    font-size: 1.1em;
    margin-bottom: 12px;
}

.menu-modal-content-right-item {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    padding: 6px;
    cursor: pointer;
    border-radius: 6px;
}

.menu-modal-content-right-item img {
    padding: 6px;
    background-color: #E4E6EB;
    border-radius: 50%;
    margin-right: 10px;
}

.menu-modal-content-right-item h5 {
    font-weight: 600;
    font-size: 0.9em;
}

#menu-modal-content-right-separation {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(0,0,0,0.2);
    margin-bottom: 6px;
}


/* ----- Messenger modal ----- */
.messenger-modal {
    display: none;
    position: absolute;
    top: 50px;
    right: 16px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    padding: 12px 16px;
    border-radius: 6px;
    max-height: 850px;
    width: 375px;
}

.messenger-modal.active {
    display: block;
    animation: fadeIn linear 0.3s forwards;
}

.messenger-modal-title {
    display: flex;
    align-items: center;
    justify-content: flex-end
}

.messenger-modal-title h3 {
    font-size: 1.2em;
    font-weight: 700;
    margin-right: auto;
}

.messenger-modal-title img {
    padding: 6px;
    border-radius: 50%;
    opacity: 0.6;
}

.messenger-modal input {
    width: 100%;
    margin: 16px 0;
}

.messenger-modal-item {
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    margin-bottom: 4px;
}

.messenger-modal-item-wrapper {
    overflow-y: scroll;
    max-height: 695px;
}

.messenger-modal-item-picture {
    display: flex;
    align-items: center;
}

.messenger-modal-item-picture img {
    width: 56px;
    border: 1px solid rgba(0,0,0,0.4);
    margin-right: 12px;
}

.messenger-modal-item-text-name {
    font-size: 0.9em;
}

.messenger-modal-item-text-message {
    font-size: 0.8em;
    color: rgba(0,0,0,0.7);
}

.messenger-modal-item-option {
    display: none;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    padding: 6px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.4);
    transition: background-color 0.3s;
}

.messenger-modal-item-option:hover {
    background-color: #F2F2F2;
}

.messenger-modal-item:hover .messenger-modal-item-option {
    display: block;
}

.messenger-modal-bottom {
    font-size: 0.9em;
    font-weight: 600;
    color: #1877F2;
    text-align: center;
    padding: 8px 0;
    cursor: pointer;
    border-top: 1px solid rgba(0,0,0,0.1);
}

.messenger-modal-bottom:hover {
    text-decoration: underline;
}

/* ----- Notification Modal ----- */
.notification-modal {
    display: none;
    position: absolute;
    top: 50px;
    right: 16px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    padding: 12px 16px;
    border-radius: 6px;
    max-height: 850px;
    width: 375px;
    overflow-y: scroll;
}

.notification-modal.active {
    display: block;
    animation: fadeIn linear 0.3s forwards;
}

.notification-modal-title, .notification-modal-subtitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.notification-modal-title img {
    padding: 6px;
    border-radius: 50%;
}

.notification-modal-subtitle h4 {
    font-weight: 600;
}

.notification-modal-subtitle p {
    color: #1877F2;
    font-size: 0.9em;
    cursor: pointer;
    padding: 6px;
    border-radius: 6px;
}

.notification-modal-item {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    padding: 6px 12px 6px 6px;
    border-radius: 6px;
    position: relative;
    margin-bottom: 4px;
}

.notification-modal-item-picture img {
    width: 56px;
    border: 1px solid rgba(0,0,0,0.4);
    margin-right: 12px;
}

.notification-modal-item-text {
    color: #6B6D71;
    font-size: 0.9em;
}

.notification-modal-item-text .notification-modal-name {
    font-weight: 600;
}

.notification-modal-item-text .notification-modal-time {
    font-size: 0.85em;
    opacity: 0.9;
    margin-top: 4px;
}

.notification-modal-item-option {
    display: none;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    padding: 6px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.4);
    transition: background-color 0.3s;
}

.notification-modal-item-option:hover {
    background-color: #F2F2F2;
}

.notification-modal-item:hover .notification-modal-item-option {
    display: block;
}

/* ----- More Modal ----- */
.more-modal {
    display: none;
    position: absolute;
    top: 50px;
    right: 16px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    padding: 12px 16px;
    border-radius: 6px;
    max-height: 850px;
    width: 375px;
}

.more-modal.active {
    display: block;
    animation: fadeIn linear 0.3s forwards;
}

.more-modal-title {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 6px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.more-modal-title-picture img {
    width: 56px;
    border: 1px solid rgba(0,0,0,0.4);
    margin-right: 12px;
}

.more-modal-title-text-name {
    font-weight: 600;
}

.more-modal-title-text-option {
    font-size: 0.9em;
    color: #6B6D71;
}

.more-modal-avis {
    display: flex;
    align-items: flex-start;
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
    margin: 6px 0;
}

.more-modal-avis-picture img, .more-modal .rounded-icon {
    width: 38px;
    padding: 6px;
    border-radius: 50%;
    background-color: #E4E6EB;
    margin-right: 12px;
}

.more-modal-avis-text-title {
    font-size: 0.9em;
    font-weight: 600;
}

.more-modal-avis-text-content {
    margin-top: 4px;
    font-size: 0.8em;
    color: #6B6D71;
}

.more-modal-option {
    display: flex;
    align-items: center;
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 6px;
}

.more-modal-option p {
    font-weight: 600;
    font-size: 0.9em;
}

.more-modal-option .chevron {
    margin-left: auto;
}

.more-modal-credits {
    margin-top: 8px;
    color: #6B6D71;
    font-size: 0.79em;
}

.more-modal-credits span {
    cursor: pointer;
}

.more-modal-credits span:hover {
    text-decoration: underline;
}

  /* ------------------------------------------- */
 /* ---------- END OF NAVIGATION BAR -----------*/
/* --------------------------------------------*/

  /* ------------------------------------------- */
 /* ---------- MAIN CONTENT WRAPPER ------------*/
/* --------------------------------------------*/
.main-wrapper {
    padding: 0 16px;
    background-color: #F0F2F5;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 100vh;
}

/* Left part of main content */
.main-wrapper-left {
    padding: 80px 0 16px;
    min-width: 300px;
    max-width: 300px;
    max-height: 100vh;
    overflow-y: scroll;
}

.main-wrapper-left-options-list-option {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 6px;
    border-radius: 6px;
    width: 100%;
    margin-bottom: 4px;
}

.main-wrapper-left-options-list-option img {
    width: 36px;
    margin-right: 14px;
}

.main-wrapper-left-options-list-option p {
    font-weight: 600;
    font-size: 0.9em;
}

.main-wrapper-left-options-list-option-watch p:nth-child(2) {
    color: #1876F2;
    font-size: 0.7em;
}

.main-wrapper-left-options-list-option-watch img {
    width: 18px;
    margin: 0;
}

#main-wrapper-left-voir-plus img {
    padding: 6px;
    border-radius: 50%;
    background-color: #D8DADF;
}

.main-wrapper-left-options-list.hidden {
    display: none;
}

.main-wrapper-left .separation {
    margin: 12px 0;
}

.main-wrapper-left-shortcuts h5 {
    font-size: 1em;
    font-weight: 600;
    color: #6D6F73;
}

.main-wrapper-left-shortcuts {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-wrapper-left-shortcuts p {
    color: #1876F2;
    font-size: 0.9em;
    cursor: pointer;
    padding: 6px;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
}

.main-wrapper-left-bottom-part:hover p {
    opacity: 1;
    pointer-events: all;
}

.more-modal-credits.main-wrapper-left-credits {
    position: absolute;
    bottom: 16px;
    left: 16px;
    width: 300px;
}

.more-modal-credits.main-wrapper-left-credits.active {
    position: static;
}

/* Middle part of main content */
/* CONTINUER ICI */



/* Right part of main content */
.main-wrapper-right {
    padding: 80px 16px 16px;
    width: 350px;
    max-height: 100vh;
    overflow-y: scroll;
}

.main-wrapper-right h5 {
    font-size: 1em;
    font-weight: 600;
    color: #6D6F73;
    margin-bottom: 18px;
}

.main-wrapper-right-ad {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 6px;
    border-radius: 6px;
}

.main-wrapper-right-ad-picture {
    width: 128px;
    height: 128px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 8px
}

.main-wrapper-right-ad-text .ad-name {
    font-size: 0.9em;
    font-weight: 600;
}

.main-wrapper-right-ad-text .ad-address {
    font-size: 0.8em;
    color: #6D6F73;
}

.main-wrapper-right .separation {
    margin: 12px 0;
}

.main-wrapper-right-contacts-title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.main-wrapper-right-contacts-title h5 {
    margin-right: auto;
    margin-bottom: 0;
    align-self: center;
}

.main-wrapper-right-contacts-title img {
    margin: 0 6px;
    cursor: pointer;
    padding: 6px;
    border-radius: 50%;
    opacity: 0.6;
}
/*Contact list*/
.main-wrapper-right-contacts-item {
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
    padding: 6px;
    border-radius: 6px;
    margin-bottom: 2px;
}

.main-wrapper-right-contacts-item img {
    margin-right: 12px;
    width: 36px;
    border: 1px solid rgba(0,0,0,0.2);
}

.main-wrapper-right-contacts-item p {
    font-weight: 600;
    font-size: 0.95em;
}

.main-wrapper-right-contacts-item .connected-icon {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #2E9A48;
    position: absolute;
    left: 30px;
    bottom: 6px;
    border: 2px solid #F0F2F5;
}

.main-wrapper-right-group-chat h5 {
    margin-bottom: 4px;
}

.main-wrapper-right-group-chat .profile-pic.plus {
    border: none;
    background-color: #D8DADF;
    padding: 8px;
}