/* ----- Reset ----- */
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----- General ----- */

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

/* ----- Reusable components ----- */
/* Notification */
.notif {
    padding: 2px 5px;
    border-radius: 50%;
    background-color: #E5314F;
    position: absolute;
    top: 0px;
    right: 30%;
    font-size: 0.7em;
    color: white;
    font-weight: 600;
}

/* Bubbles in notification modal showing what kind of notificzation you received */
.notification-modal-bubble {
    position: absolute;
    top: 40px;
    left: 40px;
    padding: 6px;
    width: 28px;
    border-radius: 50%;
}

.notification-modal-bubble.green {
    background: linear-gradient(#68E487, #1CB642);
}

.notification-modal-bubble.blue, .main-wrapper-middle-static-publication-likes-wrapper .blue {
    background: linear-gradient(#22AFFC, #0266E2);
}

/*Hover Effect*/
/*On light bg*/
.background-on-hover {
    transition: background-color 0.3s;
}

.background-on-hover:hover {
    background-color: #F2F2F2;
    transition: background-color 0s;
}

/*On darker bg*/
.background-on-hover-darker {
    transition: background-color 0.3s;
}

.background-on-hover-darker:hover {
    background-color: #E4E6E8;
    transition: background-color 0s;
}

/*Darkest bg*/
.background-on-hover-darkest {
    transition: background-color 0.3s;
}

.background-on-hover-darkest:hover {
    background-color: #D8DADF;
    transition: background-color 0s;
}

/*Scrollbar*/
::-webkit-scrollbar {
    width: 10px;
    height: 100%;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    width: 4px;
    background-color: transparent;
    max-height: 40px;
    border-radius: 6px;
}
/*ligher thumb*/
.messenger-modal-item-wrapper:hover::-webkit-scrollbar-thumb, .notification-modal:hover::-webkit-scrollbar-thumb {
    width: 4px;
    background-color: #BCC0C4;
    max-height: 40px;
    border-radius: 6px;
}
/*darker thumb*/
.main-wrapper-left:hover::-webkit-scrollbar-thumb, .main-wrapper-right:hover::-webkit-scrollbar-thumb {
    width: 4px;
    background-color: #BCC0C4;
    max-height: 40px;
    border-radius: 6px;
}

/*Separator*/
.more-modal-separation, .separation {
    width: 100%;
    height: 1px;
    content: "";
    background-color: rgba(0,0,0,0.2);
    display: block;
}

/* ----- Navbar ----- */
.navbar-wrapper {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 6px 20px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 5;
}

.navbar-wrapper img {
    cursor: pointer;
}

.navbar-left, .navbar-right, .profile-wrapper {
    display: flex;
    align-items: center;
}

.navbar-left {
    min-width: 300px;
}

.fb-icon {
    margin-right: 10px;
    position: relative;
    z-index: 10;
}

.fb-icon.hidden {
    animation: iconOut 0.3s linear forwards;
    transition: background-color 0.3s;
    border-radius: 50%;
}

@keyframes iconOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translateX(-8px);
        content: url(images/arrow-left.svg);
    }
}

.fb-icon.hidden:hover {
    background-color: #F2F2F2;
    transition: background-color 0s;
}

.navbar-wrapper input {
    position: relative;
    z-index: 10;
    outline: none;
    background-color: #F0F2F5;
    border: none;
    padding: 12px 30px;
    border-radius: 24px;
    font-size: 0.9em;
    background-image: url(images/search.svg);
    background-repeat: no-repeat;
    background-position-x: 8px;
    background-position-y: 50%;
    background-size: 18px;
    transition: padding 0.3s;
    min-width: 230px;
}

.navbar-wrapper input:focus {
    background-image: none;
    padding: 12px 30px 12px 10px;
}


.navbar-middle {
    display: flex;
}

.navbar-icon {
    position: relative;
    padding: 4px 40px;
    transition: background-color 0.3s;
    cursor: pointer;
    border-radius: 8px;
}

.navbar-icon:not(.active):hover {
    background-color: #F2F2F2;
    transition: background-color 0s;
}

.navbar-icon img{
    width: 28px;
    opacity: 0.6;
}

.navbar-icon.active img {
    filter: invert(43%) sepia(58%) saturate(4368%) hue-rotate(200deg) brightness(94%) contrast(103%);
    opacity: 1;
}

.navbar-icon.active::after {
    position: absolute;
    top: 46px;
    left: 0;
    content: "";
    width: 100%;
    height: 3px;
    background-color: #1877F2;
}

.navbar-right {
    width: 310px;
}

.profile-pic {
    width: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.profile-wrapper {
    font-size: 0.9em;
    font-weight: 600;
    transition: background-color 0.3s;
    padding: 4px 10px 4px 2px;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.profile-wrapper:hover {
    background-color: #F2F2F2;
    transition: background-color 0s;
}

.profile-icon {
    background-color: #E4E6EB;
    border-radius: 50%;
    padding: 8px;
    margin: 0 5px;
}

.profile-icon:hover {
    background-color: #D8DADF;
}

#menu-btn.active {
    background-color: #E7F3FF;
    content: url(images/grid-dots-active.svg);
}

#messenger-btn.active {
    background-color: #E7F3FF;
    content: url(images/brand-messenger-active.svg);
}

#notification-btn.active {
    background-color: #E7F3FF;
    content: url(images/bell-ringing-2-active.svg);
}

#more-btn.active {
    background-color: #E7F3FF;
    content: url(images/caret-down-active.svg);
}

#menu-btn.active:hover, #messenger-btn.active:hover, #notification-btn.active:hover, #more-btn.active:hover {
    background-color: #DBE7F2;
}

/* Search bar modal */
.search-modal {
    position: absolute;
    top: 0;
    left: 0;
    padding: 72px 14px 14px 14px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 0 0 8px 8px;
    min-width: 320px;
    display: none;
}

.search-modal.active {
    display: block;
    animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        }
    to {
        opacity: 1;
    }
}

.search-modal-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-modal-title h3 {
    font-size: 1em;
    font-weight: 600;
}

.search-modal-title p {
    font-size: 0.9em;
    color: #1877F2;
    cursor: pointer;
    padding: 6px;
    border-radius: 6px;
}

.search-modal-result {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    border-radius: 6px;
    margin-bottom: 4px;
}

.search-modal-result .profile-pic {
    margin-right: 15px;
}

.search-modal-close {
    margin-left: auto;
    width: 26px;
    padding: 6px;
    border-radius: 50%;
}

.search-modal-close:hover {
    background-color: #D7D8D9;
}


/* Menu Modal */
.menu-modal {
    position: absolute;
    display: none;
    top: 50px;
    right: 16px;
    background-color: #F7F8FA;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    padding: 12px 16px;
    border-radius: 6px;
    max-height: 850px;
}

.menu-modal.active {
    display: block;
    animation: fadeIn 0.3s forwards;
}

.menu-modal h3 {
    margin-bottom: 16px;
}

.menu-modal-content {
    display: flex;
    align-items: flex-start;
}

.menu-modal-content-left {
    max-width: 300px;
    overflow-y: scroll;
    max-height: 780px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    padding: 14px;
}

/*Scrollbar*/
.menu-modal-content-left::-webkit-scrollbar {
    width: 10px;
    height: 100%;
}

.menu-modal-content-left::-webkit-scrollbar-track {
    background-color: transparent;
}

.menu-modal-content-left::-webkit-scrollbar-thumb {
    width: 4px;
    background-color: transparent;
    max-height: 40px;
    border-radius: 6px;
}

.menu-modal-content-left:hover::-webkit-scrollbar-thumb {
    width: 4px;
    background-color: #BCC0C4;
    max-height: 40px;
    border-radius: 6px;
}

.menu-modal-content-left h4 {
    margin-bottom: 12px;
    font-weight: 600;
}

.menu-modal-content-left h4:first-of-type {
    margin-top: 16px;
}

.menu-modal-content-left h4:not(:first-of-type) {
    padding-top: 16px;
    margin-top: 16px;
    border-top: 1px solid rgba(0,0,0,0.3);
}

.menu-modal-content-left-item {
    display: flex;
    align-items: flex-start;
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 4px;
}

.menu-modal-content-left-icon {
    width: 32px;
    margin-right: 12px;
}

.menu-modal-content-left-item-text h5 {
    font-size: 0.9em;
    color: rgba(0,0,0,0.9);
    font-weight: 600;
}

.menu-modal-content-left-item-text p {
    font-size: 0.8em;
    color: rgba(0,0,0,0.6);
}

.menu-modal-content-right {
    margin-left: 15px;
    max-width: 200px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    padding: 14px;
}

.menu-modal-content-right h4 {
    font-size: 1.1em;
    margin-bottom: 12px;
}

.menu-modal-content-right-item {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    padding: 6px;
    cursor: pointer;
    border-radius: 6px;
}

.menu-modal-content-right-item img {
    padding: 6px;
    background-color: #E4E6EB;
    border-radius: 50%;
    margin-right: 10px;
}

.menu-modal-content-right-item h5 {
    font-weight: 600;
    font-size: 0.9em;
}

#menu-modal-content-right-separation {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(0,0,0,0.2);
    margin-bottom: 6px;
}


/* ----- Messenger modal ----- */
.messenger-modal {
    display: none;
    position: absolute;
    top: 50px;
    right: 16px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    padding: 12px 16px;
    border-radius: 6px;
    max-height: 850px;
    width: 375px;
    z-index: 10;
}

.messenger-modal.active {
    display: block;
    animation: fadeIn linear 0.3s forwards;
}

.messenger-modal-title {
    display: flex;
    align-items: center;
    justify-content: flex-end
}

.messenger-modal-title h3 {
    font-size: 1.2em;
    font-weight: 700;
    margin-right: auto;
}

.messenger-modal-title img {
    padding: 6px;
    border-radius: 50%;
    opacity: 0.6;
}

.messenger-modal input {
    width: 100%!important;
    margin: 16px 0;
}

.messenger-modal-item {
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    margin-bottom: 4px;
}

.messenger-modal-item-wrapper {
    overflow-y: scroll;
    max-height: 695px;
}

.messenger-modal-item-picture {
    display: flex;
    align-items: center;
}

.messenger-modal-item-picture img {
    width: 56px;
    border: 1px solid rgba(0,0,0,0.4);
    margin-right: 12px;
}

.messenger-modal-item-text-name {
    font-size: 0.9em;
}

.messenger-modal-item-text-message {
    font-size: 0.8em;
    color: rgba(0,0,0,0.7);
}

.messenger-modal-item-option {
    display: none;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    padding: 6px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.4);
    transition: background-color 0.3s;
}

.messenger-modal-item-option:hover {
    background-color: #F2F2F2;
}

.messenger-modal-item:hover .messenger-modal-item-option {
    display: block;
}

.messenger-modal-bottom {
    font-size: 0.9em;
    font-weight: 600;
    color: #1877F2;
    text-align: center;
    padding: 8px 0;
    cursor: pointer;
    border-top: 1px solid rgba(0,0,0,0.1);
}

.messenger-modal-bottom:hover {
    text-decoration: underline;
}

/* ----- Notification Modal ----- */
.notification-modal {
    display: none;
    position: absolute;
    top: 50px;
    right: 16px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    padding: 12px 16px;
    border-radius: 6px;
    max-height: 850px;
    width: 375px;
    overflow-y: scroll;
}

.notification-modal.active {
    display: block;
    animation: fadeIn linear 0.3s forwards;
}

.notification-modal-title, .notification-modal-subtitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.notification-modal-title img {
    padding: 6px;
    border-radius: 50%;
}

.notification-modal-subtitle h4 {
    font-weight: 600;
}

.notification-modal-subtitle p {
    color: #1877F2;
    font-size: 0.9em;
    cursor: pointer;
    padding: 6px;
    border-radius: 6px;
}

.notification-modal-item {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    padding: 6px 12px 6px 6px;
    border-radius: 6px;
    position: relative;
    margin-bottom: 4px;
}

.notification-modal-item-picture img {
    width: 56px;
    border: 1px solid rgba(0,0,0,0.4);
    margin-right: 12px;
}

.notification-modal-item-text {
    color: #6B6D71;
    font-size: 0.9em;
}

.notification-modal-item-text .notification-modal-name {
    font-weight: 600;
}

.notification-modal-item-text .notification-modal-time {
    font-size: 0.85em;
    opacity: 0.9;
    margin-top: 4px;
}

.notification-modal-item-option {
    display: none;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    padding: 6px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.4);
    transition: background-color 0.3s;
}

.notification-modal-item-option:hover {
    background-color: #F2F2F2;
}

.notification-modal-item:hover .notification-modal-item-option {
    display: block;
}

/* ----- More Modal ----- */
.more-modal {
    display: none;
    position: absolute;
    top: 50px;
    right: 16px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    padding: 12px 16px;
    border-radius: 6px;
    max-height: 850px;
    width: 375px;
}

.more-modal.active {
    display: block;
    animation: fadeIn linear 0.3s forwards;
}

.more-modal-title {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 6px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.more-modal-title-picture img {
    width: 56px;
    border: 1px solid rgba(0,0,0,0.4);
    margin-right: 12px;
}

.more-modal-title-text-name {
    font-weight: 600;
}

.more-modal-title-text-option {
    font-size: 0.9em;
    color: #6B6D71;
}

.more-modal-avis {
    display: flex;
    align-items: flex-start;
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
    margin: 6px 0;
}

.more-modal-avis-picture img, .more-modal .rounded-icon {
    width: 38px;
    padding: 6px;
    border-radius: 50%;
    background-color: #E4E6EB;
    margin-right: 12px;
}

.more-modal-avis-text-title {
    font-size: 0.9em;
    font-weight: 600;
}

.more-modal-avis-text-content {
    margin-top: 4px;
    font-size: 0.8em;
    color: #6B6D71;
}

.more-modal-option {
    display: flex;
    align-items: center;
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 6px;
}

.more-modal-option p {
    font-weight: 600;
    font-size: 0.9em;
}

.more-modal-option .chevron {
    margin-left: auto;
}

.more-modal-credits {
    margin-top: 8px;
    color: #6B6D71;
    font-size: 0.79em;
}

.more-modal-credits span {
    cursor: pointer;
}

.more-modal-credits span:hover {
    text-decoration: underline;
}

  /* ------------------------------------------- */
 /* ---------- END OF NAVIGATION BAR -----------*/
/* --------------------------------------------*/

  /* ------------------------------------------- */
 /* ---------- MAIN CONTENT WRAPPER ------------*/
/* --------------------------------------------*/
.main-wrapper {
    padding: 0 16px;
    background-color: #F0F2F5;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 100vh;
}

/* Left part of main content */
.main-wrapper-left {
    padding: 80px 0 16px;
    min-width: 300px;
    max-width: 300px;
    max-height: 100vh;
    overflow-y: scroll;
}

.main-wrapper-left-options-list-option {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 6px;
    border-radius: 6px;
    width: 100%;
    margin-bottom: 4px;
}

.main-wrapper-left-options-list-option img {
    width: 36px;
    margin-right: 14px;
}

.main-wrapper-left-options-list-option p {
    font-weight: 600;
    font-size: 0.9em;
}

.main-wrapper-left-options-list-option-watch p:nth-child(2) {
    color: #1876F2;
    font-size: 0.7em;
}

.main-wrapper-left-options-list-option-watch img {
    width: 18px;
    margin: 0;
}

#main-wrapper-left-voir-plus img {
    padding: 6px;
    border-radius: 50%;
    background-color: #D8DADF;
}

.main-wrapper-left-options-list.hidden {
    display: none;
}

.main-wrapper-left .separation {
    margin: 12px 0;
}

.main-wrapper-left-shortcuts h5 {
    font-size: 1em;
    font-weight: 600;
    color: #6D6F73;
}

.main-wrapper-left-shortcuts {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-wrapper-left-shortcuts p {
    color: #1876F2;
    font-size: 0.9em;
    cursor: pointer;
    padding: 6px;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
}

.main-wrapper-left-bottom-part:hover p {
    opacity: 1;
    pointer-events: all;
}

.more-modal-credits.main-wrapper-left-credits {
    position: absolute;
    bottom: 16px;
    left: 16px;
    width: 300px;
}

.more-modal-credits.main-wrapper-left-credits.active {
    position: static;
}

/* Middle part of main content */
.main-wrapper-middle {
    padding: 80px 16px;
    z-index: 2;
    overflow-y: scroll;
    max-height: 100vh;
}

.main-wrapper-middle-scrollhelper { /*Allows user to scroll through main content even if not hovering the middle div */
    background-color: transparent;
    min-height: 100vh;
    padding: 0 250px;
}


.main-wrapper-middle-stories-wrapper {
    display: flex;
    max-width: 680px; /*Modifier si nécessaire*/
    min-width: 680px;
    position: relative;
    overflow-x: hidden;
}

.main-wrapper-middle-stories-item.active { /*Scrolls through stories*/
    transform: translateX(-680px);
}

.main-wrapper-middle-stories-item {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    width: 128px;
    height: 230px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    cursor: pointer;
    margin: 0 4px;
    flex-shrink: 0;
    transition: transform 0.5s;
}

.main-wrapper-middle-stories-item .story-pic {
    width: 128px;
    height: 230px;
    object-fit: cover;
    transition: transform 0.3s;
}

.main-wrapper-middle-stories-item-self-text { /*Text for your own story*/
    position: absolute;
    bottom: 0;
    background-color: #fff;
    width: 100%;
    height: 42px;
    font-weight: 600;
    font-size: 0.8em;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 6px;
}

.main-wrapper-middle-stories-item-text { /*Text for friends stories*/
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    font-weight: 600;
    font-size: 0.95em;
    display: flex;
    align-items: flex-end;
    padding: 6px;
}

.story-plus {
    position: absolute;
    padding: 5px;
    border-radius: 50%;
    background-color: #166ADA;
    width: 36px;
    height: 36px;
    bottom: 26px;
    left: 50%;
    transform: translateX(-50%);
    border: 4px solid white;
}

.story-profile {
    position: absolute;
    top: 12px;
    left: 12px;
    border-radius: 50%;
    width: 38px;
    border: 4px solid #166ADA;
}

/*story effect on hover*/
.main-wrapper-middle-stories-item:hover .story-pic {
    transform: scale(1.02);
}

.main-wrapper-middle-stories-item:hover::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.1);
    position: absolute;
    top: 0;
    left: 0;
}

.main-wrapper-middle-stories-navigation {
    position: relative;
    max-width: 680px;
    min-width: 680px;
}

#stories-go-right {
    right: -18px;
}

#stories-go-left {
    left: -18px;
    display: none;
}

.stories-arrow {
    position: absolute;
    top: 115px;
    transform: translateY(-50%);
    padding: 12px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
}

.stories-arrow:hover {
    background-color: #F2F2F2;
}

/*Create a publication part*/
.main-wrapper-middle-publication {
    background-color: #fff;
    border-radius: 6px;
    padding: 12px;
    margin-top: 16px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    min-width: 680px;
}

.main-wrapper-middle-publication-profile {
    display: flex;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.main-wrapper-middle-publication-profile img {
    margin-right: 12px;
    width: 40px;
    border: 1px solid rgba(0,0,0,0.2);
}

.main-wrapper-middle-publication-profile-picture {
    position: relative;
    width: 40px;
    cursor: pointer;
    margin-right: 12px;
}

.main-wrapper-middle-publication-profile-picture:hover:after {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: rgba(0,0,0,0.05);
    top: 0;
    left: 0;
    border-radius: 50%;
}

.main-wrapper-middle-publication-profile p {
    width: 100%;
    color: #606266;
    background-color: #F0F2F5;
    height: 40px;
    border-radius: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 12px;
    font-size: 0.98em;
}

.main-wrapper-middle-publication-options-wrapper {
    display: flex;
    padding-top: 10px;
    justify-content: space-around;
}

.main-wrapper-middle-publication-option {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 6px;
    border-radius: 6px;
    margin: 0 2px;
    flex-grow: 1;
}

.main-wrapper-middle-publication-option img {
    width: 24px;
    margin-right: 8px;
}

.main-wrapper-middle-publication-option p {
    color: #79676B;
    font-weight: 600;
    font-size: 0.95em;
}

/*Publication modal*/
.main-wrapper-middle-publication-modal {
    display: none;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    padding: 18px;
    width: 480px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 0 1000vw rgba(255,255,255,0.7), 0 1px 8px rgba(0,0,0,0.4);
    z-index: 5;
}

.main-wrapper-middle-publication-modal-event-disabler { /*Used to prevent user from clicking outside of modal*/
    display: none;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.main-wrapper-middle-publication-modal.active, .main-wrapper-middle-publication-modal-event-disabler.active {
    display: block;
}

.main-wrapper-middle-publication-modal-title h3 {
    text-align: center;
    font-weight: 700;
    font-size: 1.15em;
    padding-bottom: 18px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.main-wrapper-middle-publication-modal-title img {
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 6px;
    border-radius: 50%;
    background-color: #E4E6EB;
    cursor: pointer;
}

.main-wrapper-middle-publication-modal-profile {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.main-wrapper-middle-publication-modal-profile img {
    width: 40px;
    cursor: pointer;
    margin-right: 12px;
}

.main-wrapper-middle-publication-modal-profile-text {
    font-weight: 600;
    font-size: 0.9em;
}

.main-wrapper-middle-publication-modal-profile-text-bubble {
    font-size: 0.87em;
    display: flex;
    align-items: center;
    padding: 4px;
    background-color: #E4E6EB;
    cursor: pointer;
    justify-content: center;
    border-radius: 6px;
    margin-top: 4px;
}

.main-wrapper-middle-publication-modal-profile-text-bubble img {
    width: 16px;
    margin-right: 0;
}

.main-wrapper-middle-publication-modal-profile-text-bubble img:nth-child(1) {
    margin-right: 4px;
}

.main-wrapper-middle-publication-modal-profile-text-bubble img:nth-child(2) {
    margin-left: 4px;
}

.main-wrapper-middle-publication-modal-input {
    margin-top: 24px;
    width: 100%;
    height: 128px;
    resize: none;
    font-size: 1.4em;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    border: none;
}

.main-wrapper-middle-publication-modal-input::placeholder {
    color: #A0A2A5;
}

.main-wrapper-middle-publication-modal-input-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-wrapper-middle-publication-modal-input-options img {
    width: 28px;
    cursor: pointer;
}

.main-wrapper-middle-publication-modal-input-more-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px 12px;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    margin-top: 16px;
}

.main-wrapper-middle-publication-modal-input-more-options p {
    font-weight: 600;
    font-size: 0.9em;
    cursor: pointer;
}

.main-wrapper-middle-publication-modal-input-more-options img {
    width: 36px;
    padding: 4px;
    border-radius: 50%;
    cursor: pointer;
}

.publication-modal-btn {
    margin-top: 16px;
    width: 100%;
    border: none;
    border-radius: 6px;
    background-color: #1877F2;
    transition: background-color 0.3s;
    padding: 10px;
    font-weight: 600;
    color: white;
    font-size: 0.9em;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

.publication-modal-btn:hover {
    background-color: #1771E6;
}

.publication-modal-btn:disabled {
    background-color: #E4E6EB;
    color: #8A8D91;
    pointer-events: none;
}

/*Video chatroom creation*/
.main-wrapper-middle-videoroom {
    display: flex;
    padding: 12px;
    align-items: center;
    background-color: #fff;
    border-radius: 6px;
    margin-top: 16px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    max-width: 680px;
    min-width: 680px;
    overflow-x: hidden;
    position: relative;
}

.main-wrapper-middle-videoroom-button {
    display: flex;
    padding: 6px 12px;
    border-radius: 24px;
    align-items: center;
    font-size: 0.9em;
    font-weight: 600;
    color: #4C76DB;
    border: 2px solid rgba(76, 118, 219, 0.1);
    cursor: pointer;
    flex-shrink: 0;
    margin-right: 16px;
}

.main-wrapper-middle-videoroom-button img{
    width: 24px;
    margin-right: 6px;
}

.main-wrapper-middle-videoroom-contact {
    width: 40px;
    position: relative;
    cursor: pointer;
    margin-right: 16px;
}

.videoroom-button-contacts {
    transition: transform 0.5s;
}

.videoroom-button-contacts.active { /*Scrolls through contacts*/
    transform: translateX(-192px);
}

.main-wrapper-middle-videoroom-contact img {
    width: 40px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(0,0,0,0.2);
}

.main-wrapper-middle-videoroom-contact:hover:after {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: rgba(0,0,0,0.05);
    top: 0;
    left: 0;
    border-radius: 50%;
}

.main-wrapper-middle-videoroom-contact .connected-icon {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #2E9A48;
    position: absolute;
    left: 28px;
    bottom: 0px;
    border: 2px solid #F0F2F5;
}

.videoroom-arrow {
    position: absolute;
    padding: 12px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
    border: 1px solid rgba(0,0,0,0.1);
}

#videoroom-arrow-right {
    right: 12px;
}

#videoroom-arrow-left {
    left: 12px;
    display: none;
}

/*Static Publications*/
.main-wrapper-middle-static-publication {
    padding: 12px;
    background-color: #fff;
    border-radius: 6px;
    margin-top: 16px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    max-width: 680px;
    min-width: 680px;
}

.main-wrapper-middle-static-publication-title {
    display: flex;
    align-items: center;
}

.main-wrapper-middle-static-publication-title .profile-pic {
    width: 40px;
    cursor: pointer;
}

.main-wrapper-middle-static-publication-title p:first-of-type {
    font-size: 0.9em;
    font-weight: 600;
    cursor: pointer;
}

.main-wrapper-middle-static-publication-title p:first-of-type:hover {
    text-decoration: underline;
}

.main-wrapper-middle-static-publication-title p:nth-child(2) {
    font-size: 0.8em;
    display: flex;
    align-items: center;
    color: rgba(0,0,0,0.7);
}

.main-wrapper-middle-static-publication-title p:nth-child(2) img {
    width: 12px;
    margin-left: 2px;
    opacity: 0.7;
}

.main-wrapper-middle-static-publication-title .dots {
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: auto;
    opacity: 0.6;
}

.main-wrapper-middle-static-publication-content {
    margin-top: 12px;
    font-size: 0.9em;
}

.main-wrapper-middle-static-publication-content .publication-picture {
    width: 680px;
    max-height: 680px;
    object-fit: cover;
    cursor: pointer;
    margin: 16px -12px 0;
    border-top: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.main-wrapper-middle-static-publication-reactions {
    padding: 4px 0;
    margin: 12px 0;
    border-top: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-wrapper-middle-static-publication-reactions-item {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #606770;
    font-size: 0.9em;
    font-weight: 600;
    padding: 4px;
    border-radius: 6px;
    cursor: pointer;
}

.main-wrapper-middle-static-publication-reactions-item img {
    margin-right: 8px;
}

/*Switch like btn to blue when clicked*/
.main-wrapper-middle-static-publication-reactions-item.like.active {
    color: #0571ED;
}

.main-wrapper-middle-static-publication-reactions-item.like.active img {
    content: url('images/thumb-up-blue.svg');
}

/*Comment section*/
.main-wrapper-middle-static-publication-comment {
    display: flex;
    align-items: center;
    position: relative;
}

.main-wrapper-middle-static-publication-comment .profile-pic {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    cursor: pointer;
}

.main-wrapper-middle-static-publication-comment input {
    outline: none;
    background-color: #F0F2F5;
    border: none;
    padding: 10px;
    border-radius: 24px;
    font-size: 0.9em;
    width: 100%;
}

.main-wrapper-middle-static-publication-comment-options {
    position: absolute;
    display: flex;
    align-items: center;
    right: 6px;
}

.main-wrapper-middle-static-publication-comment-options img {
    cursor: pointer;
    padding: 4px;
    border-radius: 50%;
    opacity: 0.6;
    width: 28px;
}

.main-wrapper-middle-static-publication-likes-wrapper {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.main-wrapper-middle-static-publication-likes-wrapper .blue {
    border-radius: 50%;
    padding: 3px;
    width: 18px;
    margin-right: 6px;
}

.main-wrapper-middle-static-publication-likes-number {
    font-size: 0.9em;
    opacity: 0.8;
    cursor: pointer;
}

.main-wrapper-middle-static-publication-likes-number:hover {
    text-decoration: underline;
}

.main-wrapper-middle-static-publication-written-comments {
    display: flex;
    align-items: flex-start;
    margin-bottom: 12px;
}

.main-wrapper-middle-static-publication-written-comments-text {
    padding: 6px 12px;
    border-radius: 20px;
    background-color: #F0F2F5;
}

.written-comment-name {
    cursor: pointer;
    font-size: 0.8em;
    font-weight: 600;
}

.written-comment-name:hover {
    text-decoration: underline;
}

/* Right part of main content */
.main-wrapper-right {
    padding: 80px 16px 16px;
    width: 350px;
    max-height: 100vh;
    overflow-y: scroll;
}

.main-wrapper-right h5 {
    font-size: 1em;
    font-weight: 600;
    color: #6D6F73;
    margin-bottom: 18px;
}

.main-wrapper-right-ad {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 6px;
    border-radius: 6px;
}

.main-wrapper-right-ad-picture {
    width: 128px;
    height: 128px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 8px
}

.main-wrapper-right-ad-text .ad-name {
    font-size: 0.9em;
    font-weight: 600;
}

.main-wrapper-right-ad-text .ad-address {
    font-size: 0.8em;
    color: #6D6F73;
}

.main-wrapper-right .separation {
    margin: 12px 0;
}

.main-wrapper-right-contacts-title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.main-wrapper-right-contacts-title h5 {
    margin-right: auto;
    margin-bottom: 0;
    align-self: center;
}

.main-wrapper-right-contacts-title img {
    margin: 0 6px;
    cursor: pointer;
    padding: 6px;
    border-radius: 50%;
    opacity: 0.6;
}
/*Contact list*/
.main-wrapper-right-contacts-item {
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
    padding: 6px;
    border-radius: 6px;
    margin-bottom: 2px;
    z-index: 1;
}

.main-wrapper-right-contacts-item img {
    margin-right: 12px;
    width: 36px;
    border: 1px solid rgba(0,0,0,0.2);
}

.main-wrapper-right-contacts-item p {
    font-weight: 600;
    font-size: 0.95em;
}

.main-wrapper-right-contacts-item .connected-icon {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #2E9A48;
    position: absolute;
    left: 30px;
    bottom: 6px;
    border: 2px solid #F0F2F5;
}

.main-wrapper-right-group-chat h5 {
    margin-bottom: 4px;
}

.main-wrapper-right-group-chat .profile-pic.plus {
    border: none;
    background-color: #D8DADF;
    padding: 8px;
}



  /* ------------------------------------------- */
 /* -------- RESPONSIVE - MEDIA QUERIES --------*/
/* --------------------------------------------*/

@media screen and (max-width:1900px) {
    .main-wrapper-middle-scrollhelper {
        padding: 0 150px;
    }
}

@media screen and (max-width:1700px) {
    .main-wrapper-middle-scrollhelper {
        padding: 0 100px;
    }
}

@media screen and (max-width:1600px) {
    .main-wrapper-middle-scrollhelper {
        padding: 0 50px;
    }
}

@media screen and (max-width:1500px) {
    .main-wrapper-middle-scrollhelper {
        padding: 0 10px;
    }
}

@media screen and (max-width:1480px) {
    .main-wrapper-middle-scrollhelper {
        padding: 0;
    }
}

@media screen and (max-width: 1400px) {
    .main-wrapper-middle-stories-navigation, .main-wrapper-middle-publication, .main-wrapper-middle-videoroom, .main-wrapper-middle-static-publication {
        width: 100%;
        min-width: 100%;
    }

    .main-wrapper-middle-static-publication-content .publication-picture {
        width: calc(100% + 24px);
    }

    .videoroom-button-contacts.active { /*Revoir le calcul qui n'est pas bon : Afficher TOUS les contacts en responsive*/
        transform: translateX( calc(-192px/680px * 100%));
    }

    .main-wrapper-middle-stories-wrapper, .main-wrapper-middle-stories-navigation {
        min-width: 544px;
        width: 544px;
    }

    .main-wrapper-middle-stories-wrapper, .main-wrapper-middle-stories-navigation {
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .main-wrapper-middle-stories-navigation {
        z-index: 2;
    }

}

@media screen and (max-width: 1215px) {
    .profile-wrapper {
        display: none;
    }

    .navbar-right {
        justify-content: flex-end;
    }
}

@media screen and (max-width: 1200px) {
    .main-wrapper-left {
        display: none;
    }

    .main-wrapper-middle-stories-wrapper, .main-wrapper-middle-stories-navigation {
        min-width: 100%;
        width: 100%;
    }

    .main-wrapper-middle-stories-wrapper, .main-wrapper-middle-stories-navigation {
        margin-left: 0;
        transform: none;
    }

    .navbar-icon {
        padding: 4px 20px;
    }

    .main-wrapper {
        padding: 0;
    }

    .main-wrapper-right {
        padding-right: 0;
    }

    .navbar-icon.mobile-menu {
        display: block!important;
    }

    .navbar-icon.mobile-menu.current img{
        filter: brightness(0) saturate(100%) invert(40%) sepia(78%) saturate(3687%) hue-rotate(201deg) brightness(95%) contrast(99%);;
    }

    .main-wrapper-left {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100vw;
        height: calc(100vh - 80px);
        z-index: 1000;
        background-color: #F0F2F5;
        margin-top: 70px;
        padding: 16px;
    }

    .main-wrapper-left.active {
        display: block;
    }
}

@media screen and (max-width: 1075px) {
    .main-wrapper-middle-stories-wrapper, .main-wrapper-middle-stories-navigation {
        min-width: 544px;
        width: 544px;
    }

    .main-wrapper-middle-stories-wrapper, .main-wrapper-middle-stories-navigation {
        margin-left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 960px) {
    .navbar-icon {
        padding: 4px 8px;
    }
}

@media screen and (max-width: 875px) {
    .main-wrapper-right {
        display: none;
    }


    .main-wrapper-middle-stories-navigation, .main-wrapper-middle-publication, .main-wrapper-middle-videoroom, .main-wrapper-middle-static-publication, .main-wrapper-middle-stories-wrapper {
        width: 100%;
        min-width: 100%;
    }

    .main-wrapper-middle-stories-wrapper, .main-wrapper-middle-stories-navigation {
        margin-left: 0;
        transform: none;
    }

    .main-wrapper {
        justify-content: center;
    }
}

@media screen and (max-width: 817px) {
    .navbar-icon {
        display: none;
    }
}

@media screen and (max-width: 730px) {
    .main-wrapper-middle-stories-wrapper, .main-wrapper-middle-stories-navigation {
        min-width: 544px;
        width: 544px;
    }

    .main-wrapper-middle-stories-wrapper, .main-wrapper-middle-stories-navigation {
        margin-left: 50%;
        transform: translateX(-50%);
    }

}

@media screen and (max-width: 597px) {
    .menu-modal {
        padding: 0;
    }

    .menu-modal h3 {
        display: none;
    }

    .menu-modal-content-left {
        display: none;
    }

    .menu-modal-content-right {
        margin-left: 0;
    }

    .main-wrapper-middle {
        padding: 80px 0 80px 4px;
    }

    .navbar-wrapper {
        padding: 6px 8px;
    }

    ::-webkit-scrollbar {
        width: 4px;
    }

    .main-wrapper-middle-stories-wrapper, .main-wrapper-middle-stories-navigation {
        min-width: 408px;
        width: 408px;
    }
}

@media screen and (max-width: 574px) {
    .navbar-wrapper input:first-of-type {
        min-width: 0;
        width: 130px;
        padding-right: 10px;
    }

    .navbar-wrapper {
        align-items: flex-start;
    }

    .navbar-left {
        min-width: 120px;
    }

    .main-wrapper-middle-publication-modal {
        width: 400px;
    }

    .main-wrapper-middle-publication-modal-input-more-options p {
        font-size: 0.7em;
    }
}

@media screen and (max-width: 500px) {
    .main-wrapper-middle-publication-option:nth-child(3) {
        display: none;
    }
}

@media screen and (max-width: 451px) {
    

    .main-wrapper-middle-stories-item {
        width: 94px;
    }

    .main-wrapper-middle-stories-item.active { /*Scrolls through stories*/
        transform: translateX(-408px);
    }

    .main-wrapper-middle-stories-wrapper, .main-wrapper-middle-stories-navigation {
        min-width: 306px;
        width: 306px;
    }

    .main-wrapper-middle-publication-modal {
        width: 340px;
    }

    .main-wrapper-middle-publication-modal-input-more-options p {
        font-size: 0.7em;
    }

    .profile-icon {
        margin: 0;
    }
}

@media screen and (max-width: 425px) {   
    .messenger-modal-item-wrapper {
        max-height: 60vh;
    }

    .notification-modal {
        max-height: 70vh;
    }
}

@media screen and (max-width: 400px) {
    .messenger-modal, .notification-modal, .more-modal {
        right: 4px;
        width: 340px;
    }
    
}